<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="DescarEntityNZ" connectionString="metadata=res://*/DescarModel.csdl|res://*/DescarModel.ssdl|res://*/DescarModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ESTEBAN;initial catalog=Dececco_Nuevo;persist security info=True;user id=sa;password=Descar2;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="DescarEntity" connectionString="metadata=res://*/DescarModel.csdl|res://*/DescarModel.ssdl|res://*/DescarModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ESTEBAN\SQLEXPRESS;initial catalog=Dececco_Nuevo;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <connectionStrings></connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v12.0"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
</configuration>
